<div class="flex mt3">
  <ul class="nav justify-content-center nav-tabs">
    <li class="nav-item">
      <%= link_to "Shops", admin_shops_path, class: "nav-link #{controller_name == 'shops' ? 'active' : nil}" %>
    </li>
  </ul>
</div>
