.chosen-container-single {
  .chosen-single {
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ced4da !important;
  }
}

.chosen-container {
  .chosen-results {
    li.highlighted {
      background-color: $color-kpmg-highlight-blue;
      background-image: none !important;
      color: #fff;
    }
  }
}
