<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body pa3">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="row mt3">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-content pa3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
