/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require "tachyons"
 *= require formtastic
 *= require_self
 */

@import "bootstrap";

$btn-line-height: 1.15rem;
$input-line-height: 1.25rem;
$input-height: 1.5rem;
$font-size-base: 0.85rem;
$font-family-sans-serif:  "Lato";
$input-padding-y: 0.125rem;
$input-padding-x: 0.125rem;
$card-border-radius: .125rem;
$card-border-width: 1px;
$input-border-radius: .125rem;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.container {
  width: 1140px !important;
}

label {
  display: block;
  margin-bottom: .125rem;
  margin-top: 1rem;
}

.simple_form {
  input.number, input.string, input.text, input.password {
    padding: 0.3rem 0.5rem;
    border: none;
    width: 50%;
    border-radius: 0.125rem;
  }

  .text-area {
    padding: 0.3rem 0.5rem;
    border: none;
    width: 50%;
    border-radius: 0.125rem;
  }

  .error {
    color: #721c24;
  }
}


